.ipl-dashboard-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-family: 'Bree Serif';
  width: 100%;
}

.ipl-brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo-img {
  height: 3.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}

.ipl-header {
  color: #ffffff;
  font-size: 3.25rem;
  font-weight: 600;
}

.ipl-team-card-collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .ipl-dashboard-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }

  .ipl-logo-img {
    height: 6.5rem;
    width: 5.5rem;
  }

  .ipl-header {
    font-size: 6.25rem;
  }
}
