.ipl-dashboard-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-family: 'Bree Serif';
}

.ipl-brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo-img {
  height: 5rem;
  width: 5rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.ipl-header {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
}

.ipl-team-card-collection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

@media (min-width: 768px) {
  .ipl-dashboard-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }

  .ipl-logo-img {
    height: 8rem;
    width: 8rem;
    margin-bottom: 2rem;
  }
}
